@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to right, #62cff4, #2c67f2); */
  background-image: url("/Background.jpg");
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  text-align: center; /* Center the text */
}

.title {
  font-size: 5em; /* Adjust font size */
  font-weight: 700;
  color: white;
  margin-bottom: 700px; /* Push the title higher up the page */
  position: absolute;
}


.subtitle {
  font-size: 2.5em;
  color: white;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.container {
  margin-top: 350px; /* Ensure space between the button and text content */
  position: absolute;


}

.button {
  padding: 15px 30px;
  background-color: #ffffff;
  color: #ff7e5f;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.button:hover {
  background-color: #f4f4f4;
}

.textContent {
  max-width: 800px; /* Limit the width of the text content */
  font-size: 1.3em; /* Adjust size as needed */
  color: white; /* Or any of the other light colors mentioned */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);  
  margin: 20px 0; /* Margin to create space above and below */
  
}

